@font-face{
    font-family: myFont;
    src: url(../fonts/MOONSTONE.otf)
}

.banner-container{
    width: 100%;
    /* border: 1px solid red; */
    padding-top: 15%;
    padding-left: 7.5%;
}
  
.fitness-club{
    color: #FF2625;
    font-family: myFont;
    font-size: 100px;
    letter-spacing: 3px;
}
  
.banner-title{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 23px;
    margin-top: 30px;
}
  
.banner-description{
    font-size: 22px;
    line-height: 35px;
    margin-bottom: 16px;
}
  
.explore-button{
    background-color: #ff2625;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
}
  
.exercise-text{
    font-weight: 600;
    color: #ff2625;
    opacity: 0.1;
    font-size: 200px;
}
  
.hero-banner-img{
    width: 700px;
    height: 900px;
}
  

/* Responsiveness */

@media screen and (max-width: 992px){
    .banner-container{
        /* padding-top: 5rem;
        padding-left: 2rem; */
    }

    .fitness-club{
        color: #FF2625;
        font-family: myFont;
        font-size: 70px;
        letter-spacing: 3px;
    } 

}


@media screen and (min-width: 600px){
    .banner-container{

    }
  
    .banner-title{
        font-size: 44px;
    }
}
  
  