
body{
    font-family: sans-serif;
}

.navbar-container{
    display: flex;
    /* border: 1px solid red; */
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: .5vw 1vw;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.logo{
    width: 4vw;
    height: 4vw;
}

.nav-links{
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 15px; 
    align-items: flex-end;
    margin-right: 5px;
}

.nav-link{
    text-decoration: none;
    color: #3A1212;
}

.home-link{
    border-bottom: 3px solid #FF2625
}


/* Responsive starts */
@media (max-width: 1000px) {
    .nav-links{
        font-size: 12px;
        gap: 10px;
    }

    .home-link{
        border-bottom: 2px solid #FF2625;
    }
}

@media (max-width: 600px) {
    .navbar-container{
        border-radius: 5px;
    }

    .nav-links{
        font-size: 9px;
        gap: 8px;
    }

    .home-link{
        border-bottom: 1px solid #FF2625;
    }
}

@media (max-width: 230px) {
    .navbar-container{
        border-radius: 2px;
    }

    .nav-links{
        font-size: 7px;
        gap: 5px;
    }

    .home-link{
        border-bottom: 0.1px solid #FF2625;
    }
}