
.forgot-container{
    max-width: 28rem;
    width: 100%;
    background-color: #2d3748;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
}

.content{
    padding: 15px;
}

.heading {
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-align: center;
    background: linear-gradient(to right, #f91717, #f63333);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.reset-info-text {
    text-align: center;
    color: #d1d5db;
    margin-bottom: 1.5rem;
}

.reset-button {
    width: 100%;
    padding: 0.75rem 1rem;
    background: linear-gradient(to right, #f87171, #ef4444);
    color: white;
    font-weight: bold;
    border-radius: 0.75rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background 0.2s, transform 0.2s, box-shadow 0.2s;
}
  
.reset-button:hover {
    background: linear-gradient(to right, #f87171, #dc2626);
}
  
.reset-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(239, 68, 68, 0.5);
}
  
.loader {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    margin: auto;
    animation: spin 1s infinite linear;
}


.reset-icon-container {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
  
.reset-icon {
    width: 64px;
    height: 64px;
    background-color: #ef4444;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.reset-icon-img {
    width: 32px;
    height: 32px;
    color: white;
}

.reset-message {
    color: #d1d5db;
    margin-bottom: 24px;
    text-align: center;
}
  
  
.footer-container {
    padding: 1rem 2rem;
    background-color: rgba(31, 41, 55, 0.5);
    display: flex;
    justify-content: center;
  }
  
.back-link {
    font-size: 0.875rem;
    color: #f87171;
    text-decoration: none;
    display: flex;
    align-items: center;
}
  
.arrow-left-icon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}
  
.back-link:hover {
    text-decoration: underline;
}
   
@media (max-width: 550px) {
    .forgot-container{
        max-width: 20rem;
    }
    
    .content{
        padding: 10px;
    }
    
    .heading {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
        text-align: center;
    }
    
    .reset-info-text {
        text-align: center;
        font-size: 13px;
        color: #d1d5db;
        margin-bottom: 1rem;
    }
    
    .reset-button {
        width: 100%;
        padding: 0.5rem .8rem;
        font-size: .8rem;
    }
      
      
    .loader {
        width: 1rem;
        height: 1rem;
    }
    
    
    .reset-icon-container {
        margin-bottom: 10px;
    }
      
    .reset-icon {
        width: 44px;
        height: 44px;
    }
      
    .reset-icon-img {
        width: 22px;
        height: 22px;
    }
    
    .reset-message {
        margin-bottom: 18px;
    }
      
      
    .footer-container {
        margin-top: 10px;
        padding: .8rem 1.5rem;
      }
      
    .back-link {
        font-size: 0.75rem;
    }
    
}